<div class="mdl-card mdl-shadow--2dp add-card-wide">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{model.name}}</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <label>Name:</label>     {{model.name}}<br />
    <label>Role:</label>     {{model.role}}<br />
    <label>Phone:</label>    {{model.phone}}<br />
    <label>Email:</label>    <a href="mailto:{{model.email}}">{{model.email}}</a><br />
    <h3>Upcoming shifts</h3>
    {{#each shift in model.shifts}}
    {{#link-to 'shifts.shift' shift.id}}{{shift.start_time}}{{/link-to}}<br />
    {{/each}}
    <br />
  </div>
  <div class="mdl-card__actions mdl-card--border">
    {{#link-to 'users.edit' model.id class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"}}Edit{{/link-to}}
    <button {{action 'cancel'}} class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Close</button>
    <button {{action 'delete'}} class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Delete</button>
  </div>
</div>
<br /><br />
{{outlet}}
