<form {{action "submit" on="submit"}}>
  <fieldset class="box box-round">
    <h3 id="title">New Shift</h3>
    <label class="form-label">Start Time</label>  {{input value=model.start_time  class="form-input" placeholder="YYYY-MM-DD HH:MM:SS"}}<br />
    <label class="form-label">End Time</label>    {{input value=model.end_time class="form-input" placeholder="YYYY-MM-DD HH:MM:SS"}}<br />
    <label class="form-label">Employee</label>    {{input value=model.employee_id class="form-input" placeholder="5"}}
    <label class="form-label">Manager</label>     {{input value=model.manager_id class="form-input" placeholder="1"}}
    <label class="form-label">Break</label>       {{input value=model.break class="form-input"}}<br />

    <input type="submit" value="Submit" class="btn btn-sm btn-primary">
    <button {{action 'cancel'}} class="btn btn-sm">Cancel</button>
  </fieldset>
</form>
<br /><br />
{{outlet}}
