<div class="mdl-card mdl-shadow--2dp add-card-wide">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Shift details</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <label>Start time:</label> {{model.start_time}}<br />
    <label>End time:</label>   {{model.end_time}}<br />
    <label>Employee:</label>   {{model.employee_id}}<br />
    <label>Manager:</label>    {{model.manager_id}}<br />
    <label>Break:</label>      {{model.break}}<br /><br />
  </div>
  <div class="mdl-card__actions mdl-card--border">
    {{#link-to 'users.edit' model.id class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"}}Edit{{/link-to}}
    <button {{action 'cancel'}} class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Close</button>
    <button {{action 'delete'}} class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Delete</button>
  </div>
</div>
<br /><br />
{{outlet}}
